.favorites-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Mensaje cuando no hay favoritos */
.empty-message {
    font-size: 1.2rem;
    color: #555;
}

/* Grid de favoritos */
.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    justify-content: center;
    margin: auto;
}

/* Tarjeta de producto en favoritos */
.favorite-card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 3rem;
    text-align: center;
}

/* Imagen del producto */
.favorite-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

/* Información del producto */
.favorite-card h3 {
    margin: 0.5rem 0;
}

.favorite-card p {
    color: #555;
    margin-bottom: 1rem;
}

/* Botón de eliminar de favoritos */
.remove-fav-btn {
    background: #F6378F;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.remove-fav-btn:hover {
    background-color: #73C7C7;
}

.favorites-container {
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}