 /* Carrusel */
 .carousel {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
  }
  
  .carousel img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }