/* Grid de productos */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    max-width: 1200px;
    padding: 2rem;
    justify-content: center; /* Asegura que las tarjetas estén centradas */
    margin: auto;
  }
  
  .product-card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem 3rem;
    text-align: center;
}

  .product-image {
    height: 70%;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    object-fit: cover;
  }
  
  .product-info {
    text-align: center;
    padding: 1rem;
  }
  
  .product-info h3 {
    margin: 0;
  }
  
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 0.5rem;
  }
  
  .cart-btn {
    background: #F6378F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-btn:hover {
    background-color: #8EA5EB;
  }

  .favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 2px solid #F6378F; /* Color de borde más definido */
    border-radius: 50%; /* Hace que el botón sea circular */
    padding: 10px; /* Aumenté el padding para hacerlo más grande */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Animación de fondo y sombra */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
  }
  
  .favorite-btn:hover {
    background-color: #FFDD00; /* Color de fondo en hover */
    transform: scale(1.1); /* Hace que el botón crezca un poco en hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más fuerte en hover */
  }
  
  .favorite-btn svg {
    transition: color 0.3s, transform 0.3s;
    width: 20px; /* Ajusté el tamaño del icono */
    height: 20px;
    color: #F6378F; /* Color predeterminado del icono */
  }
  
  .favorite-btn:hover svg {
    color: #fff; /* Cambia el color del icono en hover */
    transform: rotate(20deg); /* Rotación suave al hacer hover */
  }
  